.custom-body-bg {
    background: linear-gradient(135deg, #29323c, #2b5876, #4e4376);
    background: -webkit-linear-gradient(135deg, #29323c, #2b5876, #4e4376);
    background: -o-linear-gradient(135deg, #29323c, #2b5876, #4e4376);
    background: -moz-linear-gradient(135deg, #29323c, #2b5876, #4e4376);
    background: -ms-linear-gradient(135deg, #29323c, #2b5876, #4e4376);
}

.navbar {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.bg-custom {
    background: linear-gradient(135deg, #667eea, #6b8dd6, #8e37d7);
    background: -webkit-linear-gradient(135deg, #667eea, #6b8dd6, #8e37d7);
    background: -o-linear-gradient(135deg, #667eea, #6b8dd6, #8e37d7);
    background: -moz-linear-gradient(135deg, #667eea, #6b8dd6, #8e37d7);
    background: -ms-linear-gradient(135deg, #667eea, #6b8dd6, #8e37d7);
}

.connect {
    font-size: 1.2rem;
    cursor: pointer;
}

.resume-btn {
    position: absolute;
    right: 10px;
}

.hide {
    display: none;
}

.header {
    width: 80%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* background: linear-gradient(
        180deg,
        rgb(255, 158, 150),
        rgb(255, 128, 100),
        rgb(220, 100, 50)
    ); */
}

.header-img img {
    border-radius: 50%;
}

.blink {
    color: yellow;
    animation: blink-animation 0.5s steps(1, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@media only screen and (min-width: 600px) {
    .header-img img {
        width: 50%;
    }
}

.header-content {
    margin-top: 4rem;
    text-align: center;
    color: yellowgreen;
    font-size: 1.5rem;
}

.project {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h1 {
    text-align: center;
    color: yellow;
    text-decoration: underline;
}

.modal-content {
    background: linear-gradient(135deg, #42e695, #3bb2b8);
}

.modal-body-connect {
    width: max-content;
}

.skill {
    width: 60%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.footer {
    font-size: 1.3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: ">";
    font-size: 55px;
    color: red;
}

.carousel-control-prev-icon:after {
    content: "<";
    font-size: 55px;
    color: red;
}

.carousel-caption {
    position: absolute;
    top: 0%;
}
